<html>
<head>
    <title>Places We've Been</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>
<body>
    <h1>{{chipmunks}}</h1>
    <div class='container'>

<!--         {% if new_location.getCity is not empty or new_location.getState is not empty or new_location.getYears is not empty %}
-->        <p>Here is the city you entered</p>
        <ul>

            <li>{{new_location.getCity}}</li>
            <li>{{new_location.getState}}</li>
            <li>{{new_location.getYears}}</li>

        </ul>
<!--         {% endif %}
 -->



            <div>
    <!--     <form action='/mary' method='post'>
            <label for='city'>Enter the city</label>
            <input id='city' name='city' class='form-control' type='text'>
        </div>
        <div class='form-group'>
            <label for='state'>Enter the state</label>
            <input id='state' name='state' class='form-control' type='text'>
        </div>
        <div class='form-group'>
            <label for='cow'>Enter the year</label>
            <input id='cow' name='cow' class='form-control' type='text'>
        </div>

        <button type='submit'>Go</button>
    </form>
        <form action="/delete" method="post">
        <button type= 'submit'>Clear all</button>
    </form> -->
    </div>


    <p><a href='/'>Home</a></p>
</body>
</html>








<!--
<p> Your list of places is empty</p>
<a href='/'>Go home</a>



if (
    (empty(\\$_POST['city'])) ||
    (empty(\\$_POST['state'])) ||
    (empty(\\$_POST['years']))
    ) {


    return "error " . "<a href='/'>please enter an item</a>";

}


else {

    \\$places = new Places(\\$_POST['city'], \\$_POST['state'], \\$_POST['years']);
    \\$places->save();
    return "
    }
 -->
